{%  extends 'base.html.twig' %}

{% block body %}

    <br>
    <div class="col-md-9">
        <h1 style="border: #1a645f 3px solid; width: auto; height: auto; color: #1a645f">Bienvenue dans cet application de gestion </h1>
    </div>

    <br>
    <div class="row">
        <div class="col-md-4" style="border: #1a645f 3px solid; padding-top: 10px; padding-bottom: 10px; margin-left: 30px">
            <form id="search-js">
                <label style="color: #1a645f">Find an article by name or by reference :</label>
                <input type="text" class="form-control" placeholder="Search" name ="find" id="find-js" required>
                <br>
                <button type="submit" class="btn btn-outline-success" id="searchSubmit-js">Search</button>
            </form>
        </div>
    </div>


    <div class="col-md-4" style="border: #1a645f 3px solid; padding-top: 10px; padding-bottom: 10px; margin-left: 15px; margin-top: 40px">
        <form action="{{ path('article_searchByPrice') }}" method="post">
            <label style="color: #1a645f">Min price</label>
            <input type="text" class="form-control" placeholder="0" name ="minPrice" required>
            <label style="color: #1a645f">Max price</label>
            <input type="text" class="form-control" placeholder="1000" name ="maxPrice" required>
            <br>
            <button type="submit" class="btn btn-outline-success">Search</button>
        </form>
    </div>

    <div id="article" class="col-md-4" style="margin-top: 30px;  padding-top: 10px; padding-bottom: 10px;">
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

       $("#search-js").on("submit", function (e) {
           e.preventDefault();

           $("#article").empty();

           $.ajax({
               url:'/article/search/' + $("#find-js").val(),
               type: 'GET',
               dataType: 'json',

               success:function (data, response, xhr) {

                   if (xhr.status === 200) {

                       $("#article").append("<hr>")
                       $("#article").append("<h4>" + "Résultat de la recherche :" + "</h4>")
                       $("#article").append("<hr>")
                           data.forEach((element) => {
                               $('#article').append("<p>" + 'Article ID : ' + element.id + "</p>")
                               $('#article').append("<p>" + 'Price : ' + element.price + " €" + "</p>")
                               $('#article').append("<p>" + 'Name : ' + element.name + "</p>")
                               $('#article').append("<p>" + 'Available quantity : ' + element.quantity + "</p>")
                               $("#article").append("<hr>")

                               $("#search-js")[0].reset();

                           });


                   } else if (xhr.status === 204) {
                       $("#article").append("<hr>")
                       $("#article").append("<h4>" + "Résultat de la recherche :" + "</h4>")
                       $("#article").append("<hr>")
                       $("#article").append("<p>" + "Aucune correspondance n'a été trouvé." + "</p>")
                   }


               },
               error:function (response) {},

               complete: function(xhr, textStatus) {
                   console.log(xhr.status);
               }
           })
       })

    </script>
{% endblock %}